/* Estrutura do site */

body{
    background: #f4f2ec url(../Recursos/1b-arquivos-necessarios-criando-topo/img/fundo.png) repeat-x;
    font: 12px "Lucinda Grande", "Lucinda Sans Unicode", Arial, sans-serif;
}

#container{
    width: 1080px;
    margin: 0 auto;
}

a:link, a:active, a:visited{
    color: #af670a;
    text-decoration: none;
}

a:hover{
    color: #227115;
}

/* Configuração logotipo */

#logo a {
    width: 248px;
    text-indent: -9999px;
    display: block;
    background: url(../Recursos/1b-arquivos-necessarios-criando-topo/img/logo.png) no-repeat;
    float: left;
}

/* Configuração barra de navegação */

header{
    padding: 15px 0;
    height: 55px;
}

nav ul{
    list-style: none;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

nav ul li a:link{
    margin-right: 25px;
    padding: 3px;
    text-transform: uppercase;
}

nav ul li a:hover{
    border-bottom: 1px solid #535858;
}

/*Configuração do conteúdo*/

#conteudo{
    width: 710px;
    float: left;
    margin-bottom: 20px;
}

aside{
    width: 350px;
    background: #ebe7dd;
    float: right;
    padding-bottom: 27px;
    margin-bottom: 20px;
}

#visita{
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

h4{
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

/*Configuração Formulário*/

input{
    height: 20px;
    width: 80px;
    background: #fff;
    border: none;
    font-size: 1em;
}

input.campo{
    border: 1px solid #ada484;
}

input.botao{
    background: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
}

fieldset{
    border: none;
}

legend{
    display: none;
}

/*Configuração galeria de fotos*/

#galeria{
    padding: 0 27px 0 27px;
}

#galeria a{
    display: block;
    background: url(../Recursos/1b-arquivos-necessarios-criando-topo/img/fundo-foto.png) no-repeat;
    float: left;
    padding: 17px 15px 17px 15px;
    margin: 10px 0 0 20px;
}

#galeria img{
    margin-left: 2px;
    margin-top: 3px;
}

/*Configuração dos conteúdos principais*/

h3{
    color: #227115;
    font-size: 1.0em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#video{
    float: left;
    width: 310px;
    margin-left: 25px;
}

#mapa{
    float: right;
    width: 310px;
    margin-right: 25px;
}

#exposicoes{
    float: left;
    width: 310px;
    margin-left: 25px;
    margin-top: 25px;
}

#historia{
    float: right;
    width: 310px;
    margin-right: 25px;
    margin-top: 25px;
}

/*Configurando o Rodapé*/

footer{
    clear: both;
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(../Recursos/1b-arquivos-necessarios-criando-topo/img/fundo-rodape.png) no-repeat center top;
}

footer>p a{
    padding: 2px 10px;
}
